<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>PetClinic :: a Spring Framework Demo</title>

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/resources/images/favicon.png}">

    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/petclinic.css}"/>

    <script th:src="@{/webjars/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}"><span></span></a>

        <button class="navbar-toggler" data-bs-target="#main-navbar" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navbar" style>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0" th:remove="all">

                <li th:class="nav-item" th:fragment="menuItem (link, active, title, glyph, text)">
                    <a th:class="${active == menu ? 'nav-link active' : 'nav-link'}" th:href="@{__${link}__}"
                       th:title="${title}">
                        <span th:class="'fa fa-' + ${glyph}"></span>
                        <span th:text="${text}"></span>
                    </a>
                </li>

            </ul>

            <ul class="nav navbar-nav me-auto">

                <li th:replace="::menuItem ('/', 'home', 'Home Page', 'home', 'Home')">
                    <span aria-hidden="true" class="fa fa-home"></span>
                    <span>Home</span>
                </li>

                <li th:replace="::menuItem ('/owners/find', 'owners', 'Find Owners', 'search', 'Find Owners')">
                    <span aria-hidden="true" class="fa fa-search"></span>
                    <span>Find Owners</span>
                </li>

                <li th:replace="::menuItem ('/vets', 'vets', 'Veterinarians', 'th-list', 'Veterinarians')">
                    <span aria-hidden="true" class="fa fa-th-list"></span>
                    <span>Veterinarians</span>
                </li>

                <li th:replace="::menuItem ('/oups', 'error', 'Error Page', 'exclamation-triangle', 'Error')">
                    <span aria-hidden="true" class="fa exclamation-triangle"></span>
                    <span>Error</span>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="container xd-container">

        <th:block th:include="${template}"/>

        <br/>
        <br/>
        <br/>

        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <img alt="Sponsored by Pivotal" th:src="@{/resources/images/spring-pivotal-logo.png}"/></div>
            </div>
        </div>
    </div>
</div>

</body>

</html>
